// BOX COMPONENT
.box {
  background-color: $white;
  color: $dark-gray;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;

  @media screen and (min-width: 47em) {
    padding: 4rem 5rem;
  }
}
