// PLEDGETHICK
.pledgeradio {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "top top left"
    " center center center"
    "bottom bottom bottom"
    "bottomer bottomer bottomer";

  justify-content: space-between;
  align-items: center;

  &__text {
    grid-area: center;
  }
  &__payment {
    border-top: 1px solid $dark-gray;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: bottomer;

    span {
      flex: 100%;
      text-align: center;
      padding: 1rem;
      @media screen and (min-width: 47em) {
        text-align: left;
        flex: 1;
      }
    }
  }

  &__input {
    border: 1px solid $dark-gray;
    border-radius: 30px;
    padding: 0.5rem 3rem;
    max-width: 10rem;
    font-weight: bold;
    margin-right: 1rem;
    background-image: url(./../../images/dollar.svg);
    background-repeat: no-repeat;
    background-size: 38% 32%;
    background-position: center left;
  }

  &__radio-container {
    display: block;

    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $white;
    border: 1px solid $dark-gray;
    border-radius: 50%;
  }

  &__radio-container:hover input ~ .pledgeradio__checkmark {
    background-color: $dark-white;
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    background-color: transparent;

    display: none;
  }

  &__radio-container input:checked ~ &__checkmark:after {
    display: block;
  }

  &__radio-container &__checkmark:after {
    top: 5px;
    left: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $moderate-cyan;
  }

  &__confirm {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
  }

  &__top {
    display: flex;
    flex-flow: row nowrap;
    grid-area: top;
  }

  &__title {
    @media screen and (min-width: 47em) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      h2 {
        margin-right: 1rem;
      }
    }
  }

  &-checked {
    border: 2px solid $moderate-cyan;
  }

  &__left {
    grid-area: bottom;
    @media screen and (min-width: 47em) {
      grid-area: left;
      margin: 0;
      margin-left: auto;
    }
  }
}
